extends: relaxed

rules:
  line-length:
    max: 160
    # SOPS-encrypted values are single long ENC[...] blobs on one line;
    # these two options let them pass the line-length rule.
    allow-non-breakable-words: true
    allow-non-breakable-inline-mappings: true
  truthy:
    check-keys: false
  comments:
    min-spaces-from-content: 1

ignore: |
  **/flux-system/gotk-components.yaml
  **/flux-system/gotk-sync.yaml
  **/flux-system/kustomization.yaml
  # SOPS-encrypted files preserve the plaintext's comments verbatim and
  # aren't meaningfully lintable.
  **/*.enc.yaml
