---
apiVersion: v1
kind: Namespace
metadata:
  name: flywheel-system
  labels:
    kubernetes.io/metadata.name: flywheel-system
---
apiVersion: v1
kind: Namespace
metadata:
  name: apps
  labels:
    kubernetes.io/metadata.name: apps
