---
apiVersion: v1
kind: Namespace
metadata:
  name: {{ .FlywheelNamespace }}
  labels:
    kubernetes.io/metadata.name: {{ .FlywheelNamespace }}
---
apiVersion: v1
kind: Namespace
metadata:
  name: apps
  labels:
    kubernetes.io/metadata.name: apps
